import React, { Component } from 'react';

import { Container, Title } from './styles';

type Props = {};

type State = {};

class {{ properCase name }} extends Component<Props, State> {
  render() {
    return (
      <Container>
        <Title>{{ properCase name }} Component! :D</Title>
      </Container>
    );
  }
}

export default {{ properCase name }};