import React, { FC } from 'react';

import { Container, Title } from './styles';

type Props = {};

const {{ properCase name }}: FC<Props> = () => {
  return (
    <Container>
      <Title>{{ properCase name }} Component! :D</Title>
    </Container>
  );
};

export default {{ properCase name }};